* {
  box-sizing: border-box !important;
}
/*  goole fonts */
@font-face {
  font-family: narrow font;
  src: url(../aseets/fonts/Archivo_Narrow/static/ArchivoNarrow-Regular.ttf);
}
/* global class */
:root {
  --text-color: #070707 !important;
}
/* --- navbar section--- */
header {
  padding: 10px !important;
}
.nav-item {
  margin-right: 70px !important;
}
.nav-link {
  font-family: narrow font !important;
  color: var(--text-color);
  font-weight: 700 !important;
  font-size: 16px !important;
}
.btn {
  font-family: narrow font !important;
  color: var(--text-color);
  font-weight: 700 !important;
  font-size: 18px !important;
  text-transform: uppercase !important;
}
header {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 6;
  border-bottom: 0 solid #f2f4f5;
}
/* ---slider section--- */
.carousel-item {
  height: 90vh !important;
  height: 100vh !important;
}
.carousel-caption {
  top: 30% !important;
  bottom: 0 !important;
  left: 10% !important;
  right: 0 !important ;
  text-align: left !important;
  width: 100% !important;
}
.carousel-caption p {
  color: white !important;
  text-transform: capitalize !important;
  font-weight: 500 !important;
}
.carousel-caption h1 {
  color: white !important;
  text-transform: capitalize !important;
  font-weight: 600 !important;
  font-size: 50px !important;
}
.btn-slider {
  margin-top: 18px;
  margin-left: -1px;
  padding: 14px 37px 13px 38px;
  font-size: 14px;
  font-weight: 400;
  background: #fff;
  color: #070707;
  border-color: #fff;
  font-family: narrow font !important;
  border-radius: 5px !important;
}
.btn-slider:hover {
  background-color: var(--text-color) !important;
  color: white !important;
}
/* ---card section--- */
.card_heading {
  margin-top: px !important;
}
.card_heading h3 {
  font-size: 20px !important;
  color: var(--text-color) !important;
  font-weight: 600 !important;
}
.card {
  border: none !important;
}
.card-body .card-text {
  color: var(--text-color) !important;
  font-size: 14px !important;
  text-decoration: none !important;
  font-weight: 400;
}
.card-body span {
  font-family: narrow font !important ;
  color: #070707 !important;
  font-size: 18px !important;
  font-weight: 700 !important;
}
.card-body del {
  font-family: narrow font !important;
  color: grey !important;
}
/* ---card section--- */
.about_images{
  margin-top: 30px !important;
}
.about_contant {
  margin-top: 80px !important  ;
}
.about_button {
  margin-top: 20px !important;
}
.about_button .btn-about-section {
  margin-top: 18px;
  margin-left: -1px;
  padding: 14px 37px 13px 38px;
  font-size: 14px;
  font-weight: 400;
  background: var(--text-color) !important;
  color: #fff;

  font-family: narrow font !important;
  border-radius: 5px !important;
}
.about_text {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333;
  letter-spacing: -0.2px;
  margin: 0 0 12px;
  text-transform: uppercase;
}
.about_contant .about_paragraph {
  font-size: 16px !important;
  color: var(--text-color) !important;
}
.paragraph {
  font-size: 16px !important;
  color: var(--text-color) !important;
}
